html,
body {
    background-color: #772953;
    background-color: #000;
    background-image: url("../img/road.jpg");
    background-position: 45% 0;
    background-attachment: fixed;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    color: #666;
}

.main-container {
    width: 95%;
    margin: 0 auto;
}

.droparea {
    position: absolute;
    bottom: -25%;
    width: 100%;
    height: 50%;
    margin-left: -26px;
    z-index: 10;
}

#todo-input {
    margin-top: 16px;
    margin-bottom: 26px;
    width: calc(100% - 36px);
    padding: 18px;
    text-align: center;
    font-size: 26px;
}

.list-item {
    position: relative;
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 26px;
    background-color: #fefefe;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
}

.list-item:active {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
}

.list-item .title {
    width: 80%;
}

.list-item .checkbox {
    margin-right: 16px;
    padding: 12px;
    border: 1px solid #aaa;
    border-radius: 50%;
}

.list-item .checkbox:hover {
    background-color: #aaa;
    cursor: pointer;
}

.list-item .trash {
    margin: 0;
    font-size: 22px;
    color: #bbb;
}

.list-item .trash:hover {
    color: #666;
    cursor: pointer;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 708px) {
    .main-container {
        width: 700px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .main-container {

    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .main-container {

    }
}
