html,
body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
}

.main-container {
    margin: 0 auto;
}

#todo-input {
    width: calc(100% - 36px);
    padding: 18px;
    font-size: 26px;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 26px;
}


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .main-container {
        width: 750px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .main-container {
        width: 970px;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .main-container {
        width: 1170px;
    }
}
