html,
body {
    background-color: #772953;
    background-color: #000;
    background-image: url("../img/road.jpg");
    background-position: 45% 0;
    background-attachment: fixed;
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    color: #666;
}

.main-container {
    width: 95%;
    margin: 0 auto;
}

#todo-input {
    margin-top: 16px;
    margin-bottom: 26px;
    width: calc(100% - 36px);
    padding: 18px;
    text-align: center;
    font-size: 26px;
}

.list-item {
    margin-bottom: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 26px;
    background-color: #fefefe;
}

.list-item .title {
    width: 85%;
}

.list-item .trash {
    margin: 0;
    font-size: 22px;
    color: #bbb;
}

.list-item .trash:hover {
    color: #666;
    cursor: pointer;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 708px) {
    .main-container {
        width: 700px;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .main-container {

    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .main-container {

    }
}
