html,
body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #E9EAEA;
    color: #666;

    .hidden {
        display: none;
    }
}

.newlist-container {
    position: fixed;
    top: 140px;
    left: 0;
    right: 0;
    text-align: center;
    height: 0;

    #newlist-input {
        display: inline-block;
        padding: 18px;
        text-align: center;
        font-size: 26px;
        color: #666;
    }
}

#navigation-bar {
    position: fixed;
    left: 0;
    top: 0;
    height: 38px;
    width: 100%;
    background-color: #512DA8;
}

#listinfo {
    position: absolute;
    top: 48px;
    height: 100px;
    width: 100px;
    background-color: #fff;
}


