html,
body {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background-color: #E9EAEA;
    color: #666;

    .hidden {
        display: none !important;
    }
}

#newlist-container {
    position: fixed;
    top: 140px;
    left: 0;
    right: 0;
    text-align: center;
    height: 0;

    #newlist-input {
        display: inline-block;
        padding: 18px;
        text-align: center;
        font-size: 26px;
        color: #666;
    }
}

#navigation-bar {
    position: fixed;
    left: 0;
    top: 0;
    height: 38px;
    width: 100%;
    display: flex;
    overflow-x: scroll;
    background-color: #512DA8;

    &::-webkit-scrollbar {
        width: 0 !important;
        height: 0 !important;
    }

    .navigation-tab {
        flex: 0 0 80px;
        text-align: center;
    }
}

#listview {
    margin-top: 50px;
    margin-left: auto;
    width: calc(100% - 120px);

    .list-item {
        padding-left: 22px;
        padding-right: 36px;
        margin-bottom: 12px;
        background-color: #fff;
        height: 100px;
        display: flex;
        align-items: center;
        font-size: 19px;
    }

    .list-item.selected {
        box-shadow: 0 3px 8px #888888;
    }

    .item-input {
        width: 100%;
        padding: 16px;
        font-size: 19px;
        color: #666;
    }

}

#listinfo {
    position: absolute;
    top: 48px;
    height: 100px;
    width: 100px;
    background-color: #fff;
}


